<div class="pizza-form">
    <form>
        <label>
            <h4>Pizza name</h4>
            <input
                type="text"
                [formControl]="nameForm"
                required
                placeholder="e.g. Pepperoni"
                class="pizza-form__input"
                [class.error]="true"
            />
            <div class="pizza-form__error" *ngIf="!pizzaNameIsValid()">
                <p>Pizza must have a name</p>
            </div>
        </label>

        <pizza-display *ngIf="pizza" [pizza]="pizza"></pizza-display>

        <label>
            <h4>Select toppings</h4>
        </label>
        <div class="pizza-form__list">
            <pizza-toppings
                [toppings]="toppings"
                *ngIf="topSelecs"
                [value]="topSelecs"
                (toppingsChange)="updSelecToppings($event)"
            ></pizza-toppings>
        </div>

        <div class="pizza-form__actions">
            <button
                *ngIf="hasRoute('/new')"
                id="create_button"
                type="button"
                class="btn btn__ok"
                (click)="createPizza()"
            >
                <!-- visible que dans le cas d'une nouvelle pizzas -->
                Create Pizza
            </button>
            <button
                *ngIf="!hasRoute('/new')"
                id="update_button"
                type="button"
                class="btn btn__ok"
                (click)="updatePizza()"
            >
                <!-- visible que dans le cas d'une pizzas existante -->
                Save changes
            </button>

            <button
                *ngIf="!hasRoute('/new')"
                type="button"
                class="btn btn__warning"
                (click)="removePizza()"
            >
                <!-- visible que dans le cas d'une pizzas existante -->
                Delete Pizza
            </button>
        </div>
    </form>
</div>
